<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>mySatoshi - Power to the Miner </title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <h1><span>Welcome to mySatoshi</span></h1>
</body>

</html>